#redblock {
    background-color: red;
}
#blueblock {
    background-color: blue;
}
#greenblock {
    background-color: green;
}
#yellowblock {

    background-color: yellow;
}
#redblock, #blueblock, #greenblock, #yellowblock {
    margin: 10px 10px 10px 10px;
    width: 100px;
    height: 100px;
    display: inline-flex;
}
#conatiner {
    text-align: center;
}