.redButton {
    background-color: red;
    margin: 5px 5px 5px 5px;
    width: 100px;
    height: 100px;
    display: inline-block;
}
.blueButton {
    background-color: blue;
    margin: 5px 5px 5px 5px;
    width: 100px;
    height: 100px;
    display: inline-block;
}
.greenButton {
    background-color: green;
    margin: 5px 5px 5px 5px;
    width: 100px;
    height: 100px;
    display: inline-block;
}
.yellowButton {
    background-color: yellow;
    margin: 5px 5px 5px 5px;
    width: 100px;
    height: 100px;
    display: inline-block;
}
#container {
    text-align: center;
}